@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0 ;
}
body{
    font-family: 'open sans',sans-serif;
    background:white;
    color: #333;
    line-height: 1.6;
}
.navbar .logo {
    font-weight: 800;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
h1,h2{
    font-weight: 300;
    line-height: 1.2;
}
p{
    margin: 10px 0;
}
img{
    width: 100%;
}
.navbar.top {
    background: transparent;
}
.navbar{
   display: flex;
   align-items: center;
   justify-content: space-between;
    background-color: #333;
    opacity: 0.88;
    color: white;
  position: fixed;
 width: 100%;
  padding: 0px 20px;
  transition: 0.5s;
}
.navbar a{
    color: white;
    padding: 0px 25px;
    margin: 0px 5px;
}
.navbar ul{
    display: flex;
    line-height: 1.2em;
}
.navbar a:hover{
    border-bottom: 2px solid #28a745;
}
.main{
    background: url(../image_resources/home/showcase.jpg) no-repeat center center/cover;
    height: 100vh;
    position: relative;
    color: white;
    height: 100vh;
}

.main {
    z-index: 10;
}
.main.blog {
    background: url(../image_resources/home/blog.jpg) no-repeat center center/cover;
    height: 30vh;
}
.main .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 20px;

}
.main .content h1{
   font-size: 55px;
   text-align: center;

}
.main .content p{
    font-size: 23px;
    max-width: 600px;
    margin: 20px 0 30px;
}
.main::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.65);
}
.main *{
    z-index:5;
}
.icons{
    padding: 10px;
}
.icons h3{
    font-weight: bold;
    margin-bottom: 15px;
}
.icons i {
    color: white;
    background-color: #28a745;
    padding: 1rem;
    border-radius: 50%;
    margin-bottom: 15px;
    
}
#cases img:hover {
    opacity: 0.8;
}
.team img {
    border-radius: 50%;
}
/*callback form*/
.callback-form{
    width: 100%;
    padding: 20px 0;
}
.callback-form label{
    display: block;

    margin-bottom: 5px;
}
.callback-form .form-control {
    margin-bottom: 15px;
}
.callback-form input {
    width: 100%;
    padding: 4px;
    height: 40px;
    margin-bottom: 20px;
    border: #f5f5f5 1px solid;
}
.callback-form input:focus {
    outline-color: #2a8740 ;
    outline-width: 2px;
}
.callback-form .btn {
    padding: 10px 0px ;
    margin: 20px 0px;
}
.post{
    padding: 50px 30px;
}
.post h2 {
    font-size: 40px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: #8d8b8b 1px dotted;
}
.post.meta {
    margin-bottom: 20px;
}

.post img {
    width: 400px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 30px;


}
/* footer */
.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 200px;
    font-size: 1.1rem;
}
.footer a 
{color: #f5f5f5;}

.footer .social > * {
margin-right: 30px;
padding-bottom: 30px;
}
.footer a:hover{
color: #28a745;
}
@media (max-width:768px){


 .navbar {
    flex-direction: column;
    align-items: center;
    height: 120px;
    padding: 20px;
}
.navbar a {
    padding: 10px 10px ;
    margin: 0 3px;

}
.flex-items {
    flex-direction: column;
}
.flex-column .column, .flex-grid .column {
    flex: 100%;
    max-width: 100%;
    text-align: center;  
}
.section-padding {
    padding:0px;
    padding-bottom: 10px;
}
.section-header {
    padding: 0px;
}
.team img {
 width: 70%;
}
.flex-grid .row {
    padding: 0px 20px;
}

}