/* text styles and text colors */
.text-primary{
    color: #28a745;
}
.text-secondary{
    color: #0284d0;
}
/* button */
 .btn{
    cursor: pointer;
    display: inline-block;
    padding: 10px 30px;
    color: whitesmoke;
    background-color: #28a745;
    border: none;
    border-radius: 8px;

}
.btn:hover{
    opacity: 0.9;
}
.btn-primary , .bg-primary {
    background-color: #28a745;
    color:antiquewhite;
}
.btn-secondary, .bg-secondary{
    background-color: #0284d0;
    color:antiquewhite;
}
.btn-dark , .bg-dark{
    background-color: #333;
    color:antiquewhite;
}
.btn-light , .bg-light{
    background-color: #f4f4f4;
    color:#333;
}
/* flex items */
.flex-column.flex-reverse .row {
  
    flex-direction: row-reverse;
}
.flex-items{
   display: flex;
   align-items: center;
   justify-self: center ;
   height: 100%;
   text-align: center;
   
}
.flex-items > div {
    padding: 15px 30px ;
}
/*flex columbs*/
.flex-column .row {
display: flex;
flex-direction: row;
flex-wrap: wrap;
width: 100%;
}
.flex-column .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}
.flex-column .column .column-1 ,
.flex-column .column .column-2 {
    height: 100%;
}
.flex-column img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.flex-column .column-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 30px;
}
.flex-column h2 {
    font-size: 40px ;
    font-weight: 100;
}
.flex-column h4 {
    margin-bottom: 10px;
}
.flex-column p {
    margin: 10px 15px;
}
.btn-outline{
    background: transparent;
    border: solid 1px white;
}
/* section header*/
.section-header {
padding: 40px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
text-align: center;

}
.section-header h2 {
    font-size: 3rem;
    margin: 20px 0px ;

}
.section-padding {
    padding: 20px 20px 40px;
}
/* flex grid */
.flex-grid .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0px 40px;;
 
}
.flex-grid .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;;


}
